### Build Artifacts ###
/build/
/out/
bin/
obj/

### Logs and Temp Files ###
*.log
cookies.txt
.tmp
.swp

application.yml
application-prod.yml

build.gradle 

### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar

### IDE Settings ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS/Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache